<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pathfinder</title>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="static/script/main.js"></script>
</head>
<body>
    <h1>This is the main page of our Graph-Pathfinding-Visualizer.</h1>

    <div class="nav">
        <ul>
            <li ><a id="generate">Generate</a></li>
            <li ><a>Algorithms</a>
                <ul>
                    <li><a id="bfs" onclick=setAlgorithm(id)>BFS</a></li>
                    <li><a id="dfs" onclick=setAlgorithm(id)>DFS</a></li>
                    <li><a id="dijkstra" onclick=setAlgorithm(id)>Dijkstra's</a></li>
                    <li><a id="astar" onclick=setAlgorithm(id)>A*</a></li>
                </ul>
            </li>
            <li ><a id="clr">Clear</a></li>
            <li ><a>Speed</a>
                <ul>
                    <li><a id="fast" onclick=setSpeed(id)>Fast</a></li>
                    <li><a id="medium" onclick=setSpeed(id)>Medium</a></li>
                    <li><a id="slow" onclick=setSpeed(id)>Slow</a></li>
                </ul>
            </li>
            <li ><a id="start">Visualize</a></li>
        </ul>
    </div>
    <map>
        <table border="2">
            <tr>
                <td id="11"></td>
                <td id="12"></td>
                <td id="13"></td>
                <td id="14"></td>
                <td id="15"></td>
                <td id="16"></td>
                <td id="17"></td>
                <td id="18"></td>
                <td id="19"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </map>
</body>
</html>