<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Path finder</title>
    <link rel="stylesheet" href="../static/testmain.css">
</head>
<body class="news">
<header>
    <h1>This is the main page of our Graph-Pathfinding-Visualizer.</h1>
    <div class="nav">
        <ul>
            <li ><a href="#">Generate</a></li>
            <li ><a href="#">Algorithms</a>
                <ul>
                    <li><a href="#">BFS</a></li>
                    <li><a href="#">DFS</a></li>
                    <li><a href="#">Dijkstra's</a></li>
                    <li><a href="#">A*</a></li>
                </ul>
            </li>
            <li ><a href="#">Clear</a></li>
            <li ><a href="#">Speed</a>
                <ul>
                    <li><a href="#">Fast</a></li>
                    <li><a href="#">Medium</a></li>
                    <li><a href="#">Slow</a></li>
                </ul>
            </li>
            <li ><a href="#">Visualize</a></li>
        </ul>
    </div>
    
</header>
</body>
</html>
